@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body{
    background-color: rgb(228, 227, 224);
    font-family: "Raleway", sans-serif;
}

.statscontainer {
    max-width: var(--max-width);
    margin: auto;
  padding: 2rem 1rem;
  display: None;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
}



.stats {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height:15rem;
    width: 15rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.5em; */
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5rem;
}

.result{
    font-size: 2rem;
}

.load
{
    width: var(--max-width);
    height: 80vh;
    margin: auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
}
.loader {
    width: 35px;
    height: 80px;
    position: relative;
    display: flex;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 0 0 20px;
    border-radius: 15px 15px 10px 10px;
    padding: 1px;
    background: repeating-linear-gradient(-45deg,#91d2e2 0 8px,#1296a7 0 12px) content-box;
    --c: radial-gradient(farthest-side,#000 94%,#0000);
    -webkit-mask:
      linear-gradient(#0000 0 0),
      var(--c) -10px -10px,
      var(--c)  15px -14px,
      var(--c)   9px -6px,
      var(--c) -12px  9px,
      var(--c)  14px  9px,
      var(--c)  23px 27px,
      var(--c)  -8px 35px,
      var(--c)   50% 50%,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0),
      var(--c) -10px -10px,
      var(--c)  15px -14px,
      var(--c)   9px -6px,
      var(--c) -12px  9px,
      var(--c)  14px  9px,
      var(--c)  23px 27px,
      var(--c)  -8px 35px,
      var(--c)   50% 50%,
      linear-gradient(#0000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude,add,add,add,add,add,add,add,add;
    -webkit-mask-repeat: no-repeat;
    animation: l2 3s infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    inset: 50% calc(50% - 4px) 0;
    background: #e0a267;
    border-radius: 50px;
  }
  @keyframes l2 {
   0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0}
   10%  {-webkit-mask-size: auto,25px 25px,0 0,0 0,0 0,0 0,0 0,0 0,0 0}
   20%  {-webkit-mask-size: auto,25px 25px,25px 25px,0 0,0 0,0 0,0 0,0 0,0 0}
   30%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,0 0,0 0,0 0,0 0,0 0}
   40%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,0 0,0 0,0 0,0 0}
   50%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,0 0,0 0,0 0}
   60%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,0 0,0 0}
   70%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,25px 25px,0 0}
   80%,
   100% {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,25px 25px,200% 200%}
  }
