<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webcam Photo Capture</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>

<body>
  <nav>
    <div class="nav__logo">
      <div>PROCTOR</div>LY

    </div>
    <ul class="nav__socials">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Partners</a>
      </li>
    </ul>
  </nav>

  <div id="points"></div>
  <div id="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>

  <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
</body>

</html>